    h2 {
    background: azure;
    color: black;
    }
    p {
        background: azure;
        color:black;
    }
    h1 {
        background: azure;
        color: black;
    }
    h3 {
        background: azure;
        color: black;
    }
    li {
        background: azure;
        color: black;
    }